
body {
    font-family: 'Lato', sans-serif;
    color: #676858;
    font-weight: 300;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


a {
    font-size: 0.3em;
    text-decoration:none;
}

.img-banner {
    width: 100%;
}

@media screen and (max-width:400px) {
    #body{
       margin: 0 1em 0 1em;
    }

    #heading {
        font-size: 2em;
        text-align: center;
    }

    .text-thin {
        text-align: center;
        font-size: 2.5em;
    }
    .text-super {
        text-align: center;
        font-size: 1em;
    }

    .img-banner {
        margin-top: 1em;
    }

    .title-logo {
        height: 8vw;
        width: 20%;
        margin-top: 1.5em;
        margin-left: 40%;
        margin-right: 40%;
    }


}


@media screen and (min-width: 401px) and (max-width:700px) {
    #body{
        margin: 0 2em 0 2em;
    }

    #heading {
        font-size: 2em;
        text-align: center;
    }
    .text-thin {
        text-align: center;
        font-size: 2.5em;
    }
    .text-super {
        text-align: center;
        font-size: 1.5em;
    }

    .title-logo {
        height: 8vw;
        width: 20%;
        margin-top: 1.5em;
        margin-left: 40%;
        margin-right: 40%;
    }

    a {
        font-size: 15px;
    }
    .img-banner {
        margin-top: 1em;
    }
}


@media screen and (min-width: 701px) and (max-width:800px) {
    #body{
        margin: 0 10em 0 10em;
    }

    #heading {
        font-size: 3em;
        text-align: center;
    }

    .title-logo {
        height: 8vw;
        width: 20%;
        margin-top: 1.5em;
        margin-left: 40%;
        margin-right: 40%;
    }

    .text-thin {
        text-align: center;
        font-size: 5em;
    }
    .text-super {
        text-align: center;
        font-size: 2.5em;
    }

    a {
        font-size: 20px;
    }
    .img-banner {
        margin-top: 1em;
    }
}

@media screen and (min-width: 801px) {
    #body{
        margin: 0px;
    }

    #heading {
        font-size: 3em;
    }

    .text-thin {
        font-size: 4em;
    }
    .text-super {
        font-size: 2em;
    }
    a {
        font-size: 15px;
    }

}

#heading {
    font-weight: bold;
    color: #7d97ad;
}

#h_rule {
    border: 2px solid #7d97ad;
}

.text-muted {
    color: #BCBBBB;
}

.title-logo {
    height: 8vw;
    width: 20%;
    margin-top: 1.5em;
}

figcaption {
    color:#2d3c49;
    font-weight:bold;
    font-size: 3em
}

img {
    -webkit-filter: saturate(1) opacity(1);

}
